@page
@model Zoologicos_Presentacion.Pages.Ventanas.AnimalesModel

@{
    ViewData["Title"] = "Animales";
}

<div class="text-center">
    <form method="POST" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <h1 class="display-4">
            Gestión de Animales
        </h1>

        <div class="bt_panel_buttons">
            <input type="submit" value="Refrescar" asp-page-handler="BtRefrescar" />
            <input type="submit" value="Nuevo" asp-page-handler="BtNuevo" />
            <input type="submit"
                   value="Exportar CSV"
                   asp-page-handler="BtExportar"
                   class="btn btn-success" />
            <input type="submit" value="Guardar" asp-page-handler="BtGuardar" />
        </div>

        @if (Model.Animal != null)
        {
            <div class="row justify-content-center text-left" style="text-align: left; margin-bottom: 20px;">
                <div class="col-lg-6">
                    
                    <div class="form-group">
                        <label>Nombre</label>
                        <input id="inNombre" class="cts_forms form-control" asp-for="@Model.Animal!.Nombre" required />
                    </div>

                    <div class="form-group">
                        <label>Naturaleza (Ej: Salvaje, Doméstico)</label>
                        <input id="inNaturaleza" class="cts_forms form-control" asp-for="@Model.Animal!.Naturaleza" required />
                    </div>

                    <div class="form-group">
                        <label>Fecha de Nacimiento</label>
                        <input id="inFechaNacimiento" type="date" class="cts_forms form-control" asp-for="@Model.Animal!.FechaNacimiento" required />
                    </div>

                    <div class="form-group">
                        <label>Género</label>
                        <input id="inGenero" class="cts_forms form-control" asp-for="@Model.Animal!.Genero" required />
                    </div>

                    <div class="form-group">
                        <label>Especie ID (Clave)</label>
                        <input id="inEspecieId" type="number" class="cts_forms form-control" asp-for="@Model.Animal!.EspecieId" required />
                    </div>

                    <div class="form-group">
                        <label>Jaula ID (Clave)</label>
                        <input id="inJaulaId" type="number" class="cts_forms form-control" asp-for="@Model.Animal!.JaulaId" required />
                    </div>
                    
                </div>
            </div>
        }

        @if (ViewData.ContainsKey("Mensaje"))
        {
            @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            ;
        }
        
        @if (@Model.Animal != null && Model.Borrando)
        {
            <div class='popup'>
                <div class='pp_ms_inner'>
                    <div style='width:95%'>
                        <h2 align="left">Mensaje</h2>
                        <h4 align="left">¿Desea borrar el Animal?</h4>
                        <h6 align="left">
                            <strong>Animal:</strong> @Model.Animal!.Nombre
                        </h6>

                        <input type="submit" value="Cerrar" asp-page-handler="BtCerrar" class="btn btn-secondary" />
                        <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        }

        @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
        {
            <table class="tb_data table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Naturaleza</th>
                        <th>Nacimiento</th>
                        <th>Género</th>
                        <th class="cl_hidden">Especie</th>
                        <th class="cl_hidden">Jaula</th>
                        <th class="cl_actions">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Id</td>
                            <td>@elemento.Nombre</td>
                            <td>@elemento.Naturaleza</td>
                            <td>@elemento.FechaNacimiento.ToString("dd/MM/yyyy")</td>
                            <td>@elemento.Genero</td>
                            <td class="cl_hidden">@elemento.EspecieId</td>
                            <td class="cl_hidden">@elemento.JaulaId</td>
                            <td>
                                <input type="submit" value="Modificar" asp-page-handler="BtModificar" class="btn btn-secondary btn-sm" asp-route-data="@elemento.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal" class="btn btn-secondary btn-sm" asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>
</div>