@page
@model Zoologicos_Presentacion.Pages.Ventanas.EntrenadoresModel

@{
    ViewData["Title"] = "Entrenadores";
}

<div class="text-center">
    <form method="POST" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <h1 class="display-4">
            Gestión de Entrenadores
        </h1>

        <div class="bt_panel_buttons">
            <input type="submit" value="Refrescar" asp-page-handler="BtRefrescar" />
            <input type="submit" value="Nuevo" asp-page-handler="BtNuevo" />
            <input type="submit" value="Guardar" asp-page-handler="BtGuardar" />
        </div>

        @if (Model.Entrenador != null)
        {
            <div class="row justify-content-center text-left" style="text-align: left; margin-bottom: 20px;">
                <div class="col-lg-6">
                    
                    <div class="form-group">
                        <label>Nombre del Entrenador</label>
                        <input id="inNombre" class="cts_forms form-control" asp-for="@Model.Entrenador!.Nombre" required />
                    </div>

                    <div class="form-group">
                        <label>Especialidad (Ej: Cetáceos, Primates, Aves)</label>
                        <input id="inEspecialidad" class="cts_forms form-control" asp-for="@Model.Entrenador!.Especialidad" required />
                    </div>

                    <div class="form-group">
                        <label>Tipo de Entrenamiento (Ej: Refuerzo Positivo, Condicionamiento)</label>
                        <input id="inTipoEntrenamiento" class="cts_forms form-control" asp-for="@Model.Entrenador!.TipoEntrenamiento" required />
                    </div>
                    
                </div>
            </div>
        }

        @if (ViewData.ContainsKey("Mensaje"))
        {
            @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            ;
        }
        
        @if (@Model.Entrenador != null && Model.Borrando)
        {
            <div class='popup'>
                <div class='pp_ms_inner'>
                    <div style='width:95%'>
                        <h2 align="left">Mensaje</h2>
                        <h4 align="left">¿Desea dar de baja a este Entrenador?</h4>
                        <h6 align="left">
                            <strong>Entrenador:</strong> @Model.Entrenador!.Nombre <br />
                            <strong>Especialidad:</strong> @Model.Entrenador!.Especialidad
                        </h6>

                        <input type="hidden" asp-for="@Model.Entrenador!.Id" />
                        <input type="submit" value="Cerrar" asp-page-handler="BtCerrar" class="btn btn-secondary" />
                        <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        }

        @if (Model != null && Model.Lista != null && Model.Lista.Count > 0)
        {
            <table class="tb_data table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Especialidad</th>
                        <th>Tipo de Entrenamiento</th>
                        <th class="cl_actions">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>@elemento.Id</td>
                            <td>@elemento.Nombre</td>
                            <td>@elemento.Especialidad</td>
                            <td>@elemento.TipoEntrenamiento</td>
                            <td>
                                <input type="submit" value="Modificar" asp-page-handler="BtModificar" class="btn btn-secondary btn-sm" asp-route-data="@elemento.Id" />
                                <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal" class="btn btn-secondary btn-sm" asp-route-data="@elemento.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </form>
</div>